In [6]:
import text_to_table
import pandas as pd
import numpy as np

In [7]:
karasiki = pd.DataFrame({'txt':['I eat apple', 'I drink apple juice', 'You are apricot', 'I drink apple juice','What are you waiting for'],\
                        'id':[1,2,3,4,5],\
                        'sample': ['train','train', 'test','test','train']})

karasiki

                        txt  id sample
0               I eat apple   1  train
1       I drink apple juice   2  train
2           You are apricot   3   test
3       I drink apple juice   4   test
4  What are you waiting for   5  train

In [8]:
text_to_table.from_text_to_table(karasiki,\
                                col_text_name='txt',
                                train_test_splitting=True,
                                col_sample_name='sample')

In [9]:
pd.read_pickle('outputs/test_tabled_text.pickle')

   id  text_f-0  text_f-1  text_f-2
2   3  0.636044  0.035684  0.047361
3   4  0.951085 -0.187205  0.245748

In [10]:
pd.read_pickle('outputs/train_tabled_text.pickle')

   id  text_f-0  text_f-1  text_f-2
0   1  0.921157 -0.311008 -0.233973
1   2  0.951085 -0.187205  0.245748
4   5  0.562092  0.826441 -0.032382